:root {
  --color-primary: #2500f9;
  --color-secondary: #e2eaed;
  --color-heading: #242f51;
  --color-body: #616368;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0;
}

/* Container */
.container {
  width: 80vw;
  margin: auto;
}

/* Logo */
.logo {
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
}

.logo--left {
  color: #fcb97a;
}

.logo--right {
  color: var(--color-heading);
}

/* Links */
.link {
  text-decoration: none;
  font-weight: 500;
}

.link--primary {
  color: var(--color-primary);
}

/* Badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 0;
  padding-right: 2rem;
  white-space: nowrap;
  position: relative;
}

.badge--primary {
  background-color: var(--color-secondary);
  color: var(--color-heading);
}

.badge__text {
  padding-left: 3.5rem;
}

.badge__tile {
  display: inline;
}

.badge__icon-check {
  fill: #feaa25;
  width: 28px;
  height: 28px;
  position: absolute;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list__item {
  padding-bottom: 3rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 3rem;
  padding: 0;
}

/* Buttons */
.btn {
  border-radius: 30px;
  border: transparent;
  padding: 2rem 4rem;
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
}

.btn--primary:hover {
  background-color: #2000d6;
}

.btn--secondary {
  background-color: white;
  color: var(--color-body);
  font-weight: 500;
}

/* Icons */
.icon-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 70%;
  height: 70%;
}

.icon--arrow {
  width: 5rem;
  height: 5rem;
  fill: #dee1e5;
  border: 2px solid #f0f3f8;
}

.icon--arrow:hover {
  border: none;
  fill: var(--color-primary);
  background-color: #eff3f8;
  padding: 2px;
}

.icon--arrow .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--green {
  background-color: #e4ffee;
  fill: #419760;
}

.icon--red {
  background-color: #ffcad2;
  fill: #f55767;
}

.icon--blue {
  background-color: #f4f4ff;
  fill: #2563ff;
}

.icon--yellow {
  background-color: #fff6d3;
}

/* Plan Toggle */
.plan-toggle {
  margin: auto;
  border: 2px solid #ebebeb;
  padding: 0.3rem;
  border-radius: 30px;
  max-width: 310px;
  width: fit-content;
  white-space: nowrap;
}

/* Plan card */
.card {
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
}

.card--popular {
  border: 2px solid #ebebeb;
}

.card--regular {
  box-shadow: 0 20px 20px 5px #ebeff1;
}

.card__header {
  background-image: linear-gradient(#fdfdfe, #f4f7f9);
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  color: #999ca5;
}

.card__title {
  display: inline-block;
  font-weight: 600;
}

.card__sub-title {
  margin-bottom: 0;
}

.card .list {
  color: #999ca5;
}

.card .list__item:first-of-type {
  margin-top: 4rem;
}

.card__footer {
  padding: 2.5rem 0;
  color: var(--color-primary);
}

/* Grid */
.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2xrow {
  grid-template-rows: repeat(2, 1fr);
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading, .collapsible__icon {
  margin: 2rem 4.5rem ;
}

.collapsible--expanded .collapsible__heading,
.collapsible--expanded .collapsible__icon {
  margin: 0;
  margin-bottom: 2rem;

}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Questions */
.question {
  background-color: #f5f7fa;
}

.question .collapsible--expanded {
  padding: 4.5rem;
}

.question--plus {
font-weight: normal;
font-size: 3rem;
}

/* Navigation Bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem;
}

.nav-bar .list__item {
  color: var(--color-heading);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-bar .btn {
  margin-left: 2rem;
}