:root {
  --color-primary: #2500f9;
  --color-secondary: #e2eaed;
  --color-heading: #242f51;
  --color-body: #616368;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

/* Logo */
.logo {
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
}

.logo--left {
  color: #fcb97a;
}

.logo--right {
  color: var(--color-heading);
}

/* Links */
.link {
  text-decoration: none;
  font-weight: 500;
}

.link--primary {
  color: var(--color-primary);
}

/* Badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 0;
  padding-right: 2rem;
  white-space: nowrap;
  position: relative;
}

.badge--primary {
  background-color: var(--color-secondary);
  color: var(--color-heading);
}

.badge__text {
  padding-left: 3.5rem;
}

.badge__tile {
  display: inline;
}

.badge__icon-check {
  fill: #feaa25;
  width: 28px;
  height: 28px;
  position: absolute;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
}

/* Buttons */
.btn {
  border-radius: 30px;
  border: transparent;
  padding: 2rem 4rem;
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
}

.btn--primary:hover {
  background-color: #2000d6;
}

.btn--secondary {
  background-color: white;
  color: var(--color-body);
  font-weight: 500;
}

/* Icons */
.icon-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 70%;
  height: 70%;
}

.icon--green {
  background-color: #e4ffee;
  fill: #419760;
}

.icon--red {
  background-color: #ffcad2;
  fill: #f55767;
}

.icon--blue {
  background-color: #f4f4ff;
  fill: #2563ff;
}

.icon--yellow {
  background-color: #fff6d3;
}
