<section class="benefit container grid grid--1x3">
  <div class="media">
    <div class="media__img">
      <div class="icon-container icon--red">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#speed"></use>
        </svg>
      </div>
    </div>
    <div class="media__body">
      <h3 class="media__title media--red">Fast Performance</h3>
      <p>
        Get your blood tests delivered at home collect a sample from the news
        your blood tests.
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__img">
      <div class="icon-container icon--blue">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </div>
    </div>
    <div class="media__body">
      <h3 class="media__title media--blue">Prototyping</h3>
      <p>
        Get your blood tests delivered at home collect a sample from the news
        your blood tests.
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__img">
      <div class="icon-container icon--green">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#vector"></use>
        </svg>
      </div>
    </div>
    <div class="media__body">
      <h3 class="media__title media--green">Vector Editing</h3>
      <p>
        Get your blood tests delivered at home collect a sample from the news
        your blood tests.
      </p>
    </div>
  </div>
</section>
