<div class="card card--regular">
    <header class="card__header">
      <h1 class="card__title">$99</h1>
      <span>/month</span>
      <h3 class="card__sub-title">Pro Master</h2>
      <p>For Best opportunities</p>
    </header>
    <div class="plan-content">
      <ul class="list">
        <li class="list__item">Drag & Drop Builder</li>
        <li class="list__item">1,000's of Templates</li>
        <li class="list__item">Blog Support Tools</li>
        <li class="list__item">eCommerce Store</li>
      </ul>
      <button class="btn btn--primary">Subscribe Now</button>
      <footer class="card__footer">Or Start 14 days trail</span class="">
    </div>
  </div>