<div class="hero-background">
  <section class="hero grid grid--1x2 container">
    <div class="hero-left">
      <span class="badge badge--primary">
        <svg class="badge__icon-check">
          <use xlink:href="images/sprite.svg#circle-check"></use>
        </svg>
        <span class="badge__text">#1 Editiors Choice App of 2020</span>
      </span>
      <h1 class="hero__heading">Best app for your modern lifestyle</h1>
      <p class="hero__text">
        Increase productivity with a simple to-do app. app for managing your
        personal budgets.
      </p>
      <footer class="hero__footer">
        <button class="btn btn--primary hero__button">Try for free</button>
        <a href="#" class="link link--primary">Watch demo video</a>
      </footer>
    </div>
    <div class="hero-right">
      <img src="images/hero-main.png" alt="" class="hero__img" />
    </div>
  </section>
</div>
