<nav class="nav-bar container">
    <div class="nav-left">
      <div class="logo">
        <span class="logo--left">Avi</span><span class="logo--right">Apps</span>
      </div>
    </div>
    <div class="nav-right">
      <ul class="list list--inline">
        <a href="#" class="list__item link">Home</a>
        <a href="#" class="list__item link">Key Features</a>
        <a href="#" class="list__item link">Pricing</a>
        <a href="#" class="list__item link">Testimonial</a>
        <a href="#" class="list__item link">FAQ</a>
      </ul>
      <button class="btn btn--primary">Try for free</button>
    </div>
  </nav>