<section class="plans container">
    <div class="plan__heading container--small">
      <h2 class="plans__title">Get awesome features, without
        extra charges</h2>
      <p class="plans__text">The rise of mobile devices transforms the way we consume information entirely
        and the world's most elevant channels such as Facebook.</p>
        <div class="plan-toggle">
          <button class="btn btn--primary">Monthly</button>
          <button class="btn btn--secondary">Annualy</button>
        </div>
    </div>
      <div class="plan__cards">
        <div class="card card--regular">
          <header class="card__header">
            <h1 class="card__title">$0</h1>
            <span>/month</span>
            <h3 class="card__sub-title">Business Class</h2>
            <p>For small teams or offices</p>
          </header>
          <div class="plan-content">
            <ul class="list">
              <li class="list__item">Drag & Drop Builder</li>
              <li class="list__item">1,000's of Templates</li>
              <li class="list__item">Blog Support Tools</li>
              <li class="list__item">eCommerce Store</li>
            </ul>
            <button class="btn btn--primary">Start free trail</button>
            <footer class="card__footer">Or Start 14 days trail</span class="">
          </div>
        </div>
        <div class="card card--popular">
          <header class="card__header">
            <h1 class="card__title">$99</h1>
            <span>/month</span>
            <h3 class="card__sub-title">Pro Master</h2>
            <p>For Best opportunities</p>
          </header>
          <div class="plan-content">
            <ul class="list">
              <li class="list__item">Drag & Drop Builder</li>
              <li class="list__item">1,000's of Templates</li>
              <li class="list__item">Blog Support Tools</li>
              <li class="list__item">eCommerce Store</li>
            </ul>
            <button class="btn btn--primary">Subscribe Now</button>
            <footer class="card__footer">Or Start 14 days trail</span class="">
          </div>
        </div>
      </div>      
  </section>