<div class="testimonial">
  <svg class="icon icon--star">
    <use xlink:href="images/sprite.svg#star"></use>
  </svg>
  <h3 class="testimonial__heading">User friendly & Customizable</h3>
  <p class="testimonial__text">
    Bring to the table win-win survival strategies to ensure proactive
    domination. At the end of the day, going forward, a new normal that has
    evolved from generation X is on the runway heading towards a streamlined
    cloud solution. User generated content in real-time will have multiple
    touchpoints for offshoring.
  </p>
  <footer class="testimonial__footer">
    <div class="grid grid--1x2">
      <div class="person">
        <img
          src="images/testimonial-example.png"
          alt="a guy who gave a review"
        />
        <div class="person-desc">
          <h4>Zoltan Nemeth</h4>
          <p>CEO of Pixler Lab</p>
        </div>
      </div>
      <div class="testimonial-arrows">
        <div class="icon-container icon--arrow">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow-left-solid"></use>
          </svg>
        </div>
        <hr />
        <div class="icon-container icon--arrow">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow-right-solid"></use>
          </svg>
        </div>
      </div>
    </div>
  </footer>
</div>
