<section class="ult-features">
  <div class="grid grid--1x2 container">
    <article class="ult-features__content">
      <h2 class="ult-feature__title">Ultimate features that we built</h2>
      <p class="ult-feature__text">
        The rise of mobile devices transforms the way we consume information
        entirely.
      </p>
      <div class="grid grid--1x2 grid--2xrow">
        <div class="media media--col">
          <div class="media__img">
            <div class="icon-container icon--light-red">
              <svg class="icon">
                <use xlink:href="images/sprite.svg#development"></use>
              </svg>
            </div>
          </div>
          <div class="media__body">
            <h3 class="media__title">App Development</h3>
            <p>
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </div>
        <div class="media media--col">
          <div class="media__img">
            <div class="icon-container icon--light-green">
              <svg class="icon">
                <use xlink:href="images/sprite.svg#mobile"></use>
              </svg>
            </div>
          </div>
          <div class="media__body">
            <h3 class="media__title">UX Planning</h3>
            <p>
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </div>
        <div class="media media--col">
          <div class="media__img">
            <div class="icon-container icon--yellow">
              <svg class="icon">
                <use xlink:href="images/sprite.svg#cloud"></use>
              </svg>
            </div>
          </div>
          <div class="media__body">
            <h3 class="media__title">Cloud Storage</h3>
            <p>
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </div>
        <div class="media media--col">
          <div class="media__img">
            <div class="icon-container icon--light-light-blue">
              <svg class="icon">
                <use xlink:href="images/sprite.svg#phone"></use>
              </svg>
            </div>
          </div>
          <div class="media__body">
            <h3 class="media__title">Customer Support</h3>
            <p>
              Get your blood tests delivered at home collect a sample from the
              news your blood tests.
            </p>
          </div>
        </div>
      </div>
      <button class="btn btn--primary ult-feature__btn">See All</button>
    </article>
    <img
      src="images/ult-features.png"
      alt="two phones that show our best features"
      class="ult-features__img"
    />
  </div>
</section>
