<section class="why-us container">
  <h2 class="why-us__title">Why you should choose our app</h2>
  <p>
    The rise of mobile devices transforms the way we consume information
    entirely and the world's most elevant channels such as Facebook.
  </p>
  <div class="grid grid--1x3">
    <div class="media">
      <div class="media__img">
        <div class="icon-container icon--light-red">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#development"></use>
          </svg>
        </div>
      </div>
      <div class="media__body">
        <h3 class="media__title media--red">App Development</h3>
        <p>
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__img">
        <div class="icon-container icon--light-blue">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#trophy"></use>
          </svg>
        </div>
      </div>
      <div class="media__body">
        <h3 class="media__title media--red">10 Times Award</h3>
        <p>
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__img">
        <div class="icon-container icon--yellow">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#cloud"></use>
          </svg>
        </div>
      </div>
      <div class="media__body">
        <h3 class="media__title media--red">Cloud Storage</h3>
        <p>
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__img">
        <div class="icon-container icon--light-green">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#tools"></use>
          </svg>
        </div>
      </div>
      <div class="media__body">
        <h3 class="media__title media--red">Customization</h3>
        <p>
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__img">
        <div class="icon-container icon--light-light-blue">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#mobile"></use>
          </svg>
        </div>
      </div>
      <div class="media__body">
        <h3 class="media__title media--red">UX Planning</h3>
        <p>
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__img">
        <div class="icon-container icon--light-yellow">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#phone"></use>
          </svg>
        </div>
      </div>
      <div class="media__body">
        <h3 class="media__title media--red">Customer Support</h3>
        <p>
          Get your blood tests delivered at home collect a sample from the news
          your blood tests.
        </p>
      </div>
    </div>
  </div>
</section>
